<div class="d-lg-flex half">
  <div class="bg order-1 order-md-2" style="background-image: url('{{backgroundImage}}');"></div>
  <div class="contents order-2 order-md-1">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
          <h3>Login to <strong>REVIEW IT ALL!</strong></h3>
          <p class="mb-4">Your personal archive of awesome.</p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group first mb-3">
              <input 
                type="text"
                class="form-control"
                placeholder="Username or email"
                id="username"
                formControlName="username"
                aria-label="Username"
              >
            </div>
            <div class="form-group last mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                id="password"
                formControlName="password"
                aria-label="Password"
              >
            </div>

            <!-- <div class="d-flex mb-5 align-items-center">
              <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
            </div> -->

            <button
              type="submit"
              (click)="onSubmit()"
              class="btn btn-primary w-100 mb-3"
              [disabled]="loginForm.invalid">
              Log In
            </button>

            @if (loginFailed()) {
              <div class="alert alert-danger" role="alert" >
                Login failed, please verify username and password.
              </div>
            }

            @if (loginSuccess()) {
              <div class="alert alert-success" role="alert">
                Login successful, you're being redirected.
              </div>
            }

          </form>
        </div>
      </div>
    </div>

  </div>
</div>